@import 'tailwindcss';

@theme {
    --color-dashboard-bg: #f9fafb;
    --color-dashboard-accent: #2563eb;
    --font-dashboard: "Inter", sans-serif;
}

@utility dashboard-page {
    @apply bg-[--color-dashboard-bg] font-[--font-dashboatd] min-h-screen text-gray-800;
}

@utility dashboard-header {
    @apply bg-[--color-dashboard-accent] text-white p-4 shadow;
}

@utility dashboard-card {
    @apply bg-white p-6 rounded-lg shadow-md;
}

@utility table-header {
        @apply text-gray-800 text-white;
}